/* Admin Navbar */

.adminNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 97;
    box-shadow: 0 15px 15px;
    background-color: #fff;
}

.hamburgerMenu {
    display: none;
}

.adminNavItems {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminNavList .adminNavLink {
    font-size: 1.2rem;
}

.adminNavList .adminNavLink svg {
    color: #fff;
    background-color: #EA6D27;
    padding: 1rem;
}

/* All Menu Component */
.menuManage {
    height: 100vh;
    width: 100%;
    margin: 7rem 0 2rem;
}

.menuDataContainer {
    width: 100%;
}

.menuItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    background-color: rgb(249, 192, 135);
    padding: 2rem;
    margin-top: 1rem;
}

.menuList {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.menuList img {
    height: 5rem;
    width: 10rem;
}

.menuList:first-child,
.menuList:nth-child(2) {
    text-align: left;
}

.menuList:nth-child(4) {
    background-color: rgb(33, 143, 2);
}

.menuList:nth-child(4),
.menuList:last-child {
    color: #fff;
    font-weight: bolder;
    width: 30%;
    padding: 0.5rem;
    border-radius: 0 1.5rem;
    cursor: pointer;
}

.menuList:last-child {
    background-color: red;
}

.addDishControll {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid#EA6D27;
    background-image: linear-gradient(to right, #EA6D27, #f7cbb3);
    cursor: pointer;
}

.addDishControll svg {
    font-size: 5rem;
    color: #fff;
}

/* Add Dish Component */
.addDishContainer {
    margin-top: 7rem;
}

.addDishDetails {
    width: 70vw;
    border: 1px solid#EA6D27;
    background-image: linear-gradient(to right, #EA6D27, #f7cbb3);
    margin: 0 auto;
    padding: 1rem;
}

.addDishDetails h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.7rem;
    color: #3d3838;
}

.dishData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputs {
    margin: 1rem 0;
}

.inputs input,
textarea,
select {
    width: 100%;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

.dishData .inputs:nth-child(3) input {
    border-bottom: none;
}

.inputs textarea {
    border: 1px solid #fff;
}

.inputs label {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #3d3838;
    margin-bottom: 0.5rem;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

.controls button {
    border: none;
    padding: 0.5rem 1rem;
    color: #3d3838;
    font-weight: bolder;
    border: 1px solid #EA6D27;
}


/* Order Table */
.table thead tr th {
    background-color: #f7c8ad;
}

.markIcon {
    cursor: pointer;
    color: #EA6D27;
}

/* Pagination  */
.pagination {
    display: flex;
    margin: 2rem auto;
    width: 100%;
    /* gap: 0.3rem; */

}

.pagination li a {
    border: 1px solid #EA6D27;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pagination li :hover {
    transition: 300ms ease;
    border: #585858;
    background-color: #EA6D27;
    color: aliceblue;
}

.active a {
    background-color: #EA6D27;
    color: aliceblue;
    padding: 0.5rem 1rem;
}

.pagination .previous a,
.pagination .next a {
    border: 2px solid #EA6D27;
}

.pagination .previous a {
    margin-right: 0.8rem;
}

.pagination .next a {
    margin-left: 0.8rem;
}

@media screen and (max-width: 1024px) {
    .hamburgerMenu {
        display: block;
    }

    .adminNavItems {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #f7c8ad;
        top: 0;
        right: 100%;
        justify-content: center;
        gap: 5.5rem;
        flex-direction: column;
        transition: 300ms ease;
    }


    .adminNavList .adminNavLink {
        font-size: 1.5rem;
    }
}

@media  (max-width: 840px) and (min-width: 300px) {
    .adminNavBrand h2 {
        font-size: 1.5rem;
    }

    .orderComponent {
        overflow: auto;
    }
}

@media screen and (max-width: 540px) {
    .menuDataContainer {
        overflow: auto;
    }
    .menuItems {
        gap: 0.5rem;
        padding: 2rem 1rem;
    }

    .menuList:nth-child(2) {
        text-align: center;
    }

    .menuList img {
        width: 5rem;
    }

    .menuList:nth-child(4), .menuList:last-child {
        border-radius: 0;
        font-size: 0.8rem;
    }
}