/* Admin Hero Page */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    height: 100vh;
    width: 100%;
}

.widget h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.widget p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.widget {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Orders */

.orders {
    padding: 12% 0 3%;
}

.chooseOrders {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.orderBtn {
    width: 30%;
    background:#585858;
    padding: 0.7rem 1rem ;
    color: #fff;
    font-size: 1.5rem;
}

.orderBtn:first-child {
    border-right: 1px solid;
}

.highlightBtn {
    background: #EA6D27;
}

@media screen and (max-width: 840px) {
    .orders {
        padding: 15% 0 3%;
    }
}


@media  (max-width: 840px) and (min-width: 300px) {

    .dashboard {
        flex-wrap: wrap;
        padding-top: 35%;
    }
    
    .widget {
        height: 18rem;
        width: 22rem;
    }

    .orderBtn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 540px) {
    .orders {
        padding: 17% 0 3%;
    }
}

@media screen and (max-width: 440px) {
    .orders {
        padding: 23% 0 3%;
    }
}