.header {
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 6.5rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hideNav {
    display: none;
}

.hamburger {
    display: none;
}

.navBrand img {
    height: 5rem;
    width: 6rem;
}

.navItems {
    display: flex;
    gap: 5rem;
}


.navLink {
    font-size: 1.2rem;
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.navLink:hover {
    padding: 0.5rem 0;
    border-top: 2px solid #EA6D27;
    ;
    border-bottom: 2px solid #EA6D27;
    border-radius: 0.5rem;
}

.profileInfo {
    display: none;
    position: relative;
}

.down {
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
}

/* Profile Links */

.profileLinks {
    position: fixed;
    height: auto;
    width: 12rem;
    background-color: #fff;
    right: 0;
    top: 6.27rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 15px;
    z-index: 1;
    opacity: 0;
    transition: 300ms ease-in-out;
    pointer-events: none;
}

.showprofile {
    opacity: 1;
    pointer-events: all;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    margin-top: 3rem;
}

.heroDescription {
    width: 100%;
}

.heroImageContainer {
    position: relative;
    width: 100%;
}

.heroImage {
    width: 100%;
    text-align: right;
}

.heroImage img:first-child {
    height: 30rem;
    width: 70%;
    border-radius: 0.5rem;
}

.heroImage img:nth-child(2) {
    position: absolute;
    left: 3rem;
    bottom: 2rem;
    height: 15rem;
}

/* Speeciality Component */

#Specialities {
    background-image: url('/Images/—Pngtree—happy chef and waiter_4433814.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: contain;
}

.speciality {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.specialityContainer .speciality:nth-child(2) {
    flex-direction: row-reverse;
}

.specialityImg img {
    height: 13rem;
    width: 15rem;
}

.specialityDescription h3 {
    text-align: left;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

/* Recommendations Component */
.dishContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.dish {
    height: auto;
    width: 20rem;
    position: relative;
    margin-left: 10px;
}

.dishImage img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
}

.dishImage .dishDetals,
.dishImage .category {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    border-radius: 50%;
    color: #EA6D27;
    cursor: pointer;
    width: 2rem;
}

.dishImage .veg {
    left: 0;
    color: green;
}

.dishImage .nonveg {
    left: 0;
    color: red;
}

.dish .likePart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.dish .likePart svg {
    font-size: 6rem;
    color: red;
    transform: scale(0);
    transition: 100ms ease;
}

.dish .popLike svg {
    transform: scale(1);
}

/* Scan The QR */

#Scan .speciality {
    margin: 2rem 0;
    align-items: flex-start;
}

#Scan .specialityImg img {
    height: 13rem;
    width: 41rem;
    object-fit: cover;
}

#Scan .specialityDescription p {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#Scan .specialityDescription p svg {
    color: #EA6D27;
}

/* Filter Component */

.menu {
    width: 100%;
}

.searChFilter {
    text-align: center;
    margin: 4rem 0 0;
    position: relative;
}

.filterButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem 1.5rem;
    border-radius: 0 1rem 1rem 0;
    background: #EA6D27;
    color: #fff;
    z-index: 50;
}

.searChFilter input {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem 0 0 1rem    ;
    text-align: center;
    background: #585858;
    color: #ffff;
}

/* Multifilter Component */
.multiFilter {
    position: fixed;
    right: 100%;
    height: 100%;
    background: #585858;
    padding: 9rem 1rem;
    display: flex;
    flex-direction: column;
    color: #c5c5c5;
    transition: 300ms ease;
}

.shoMultiFilter {
    right: 0;
}

.filters {
    margin: 1rem 0;
    border-bottom: 1px solid;
}

.filters select {
    color: #c5c5c5;
}

.cusineFilter {
    margin: 1rem 0;
}

.cusineFilter .checkBoxes,
.priceFilter .prices {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.inputLabel {
    text-decoration: none;
    line-height: 2.2;
}

.disableCheck {
    text-decoration: line-through;
}

/* Loading State */

.loadingContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.loading .loadingDishImage{
    background-color: #ccc;
}

.loading .loadingDishtHeader {
    height: 1rem ;
    width: 80%;
    margin: 1rem auto;
    background-color: #ccc;
}

@media screen and (max-width: 1024px) {  
    .hamburgerMenu {
        display: block;
    }

    .bar {
        height: 0.2rem;
        width: 1.5rem;
        background-color: #EA6D27;
        margin: 0.3rem 0;
        position: relative;
        z-index: 100;
        transition: 300ms ease;

    }

    .toggleNav {
        right: 0;
    }


    .toggle #bar1 {
        transform: rotateZ(45deg) translate(11px);
        background-image: linear-gradient(to left, #fbdac7 50%,  #EA6D27 50%);
    }

    .toggle #bar2 {
        right: 25%;
        border-radius: 0 0.7rem 0.7rem 0;
    }

    .toggle #bar3 {
        transform: rotateZ(-45deg) translate(12px);
        background-image: linear-gradient(to left, #fbdac7 50%, #EA6D27 50%);
    }

    .navItems {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 100%;
        transition: 300ms ease;
        background-color: #fbdac7;
    }

    .showToggleNav {
        right: 0;
    }

    /* Handle Hero Section */

    .hero {
        background-image: url(/public/Images/main.png);
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        background-size: cover;
    }

    .heroDescription h1 {
        color: #ffffff;
        font-size: 2.7rem;
    }

    .heroImageContainer {
        display: none;
    }

    /* Speciality */
    #Scan .specialityImg img {
        width: 48vw;
    }
}

@media screen and (max-width: 481px) {
    /* Hero Section */

    .heroDescription h1 {
        color: #ffffff;
        font-size: 2rem;
    }

    /* Instructions */
    .speciality {
        margin: 3rem auto;
    }
    .specialityDescription h3 {
        text-align: center;
    }
    .specialityImg {
        display: none;
    }

    /* Recommendation */
    .dishContainer {
        flex-wrap: wrap;
    }

    .dish {
        width: 43vw;
        margin-top: 1rem;
    }

    #Scan .specialityImg {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .specialityDescription h3 {
        text-align: left;
    }

    #Scan .specialityDescription p {
        font-size: 0.7rem;
        gap: 0.5rem;
    }
}